<% if @room.errors.any? %>
  <% @room.errors.full_messages.each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end %>

<%= form_for @room do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <br>
  
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <br>
  
  <%= f.label :password %>
  <%= f.password_field :password %> (leave blank for public room)
  
  <br>
  
  <%= f.submit %>
<% end %>