<!DOCTYPE html>
<html>
<head>
  <title>Juggerchat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" charset="utf-8" src="http://localhost:8080/application.js"></script>
</head>
<body>

<% if signed_in? %>
Welcome, <%= current_user.name %>!
<% end %>

<%= yield %>

</body>
</html>
